/* CSS pour le site reservia pour les moyennes résolution de 1180px à 668px */
body {
  width: 95%;
}
#SectionDeux {
  flex-direction: column-reverse;
}
#SectionDeux h3 {
  margin-bottom: 20px;
}
#Hebergements {
  width: 100%;
}
.ImageHebergement {
  width: 100%;
  margin: auto;
}
.ImageHebergement img {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}
aside {
  width: 100%;
  margin-bottom: 20px;
}
#graph {
  width: 97%;
}
#graph i {
  margin-bottom: 20px;
}
#LesPlusPopulaires {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
#LesPlusPopulaires a {
  width: 30%;
}
.HebergementPopulaire {
  width: 100%;
  height: 90%;
  margin-bottom: 20px;
  margin-left: 20px;
}
.HebergementPopulaire:first-child {
  margin-left: 0px;
}
.ImagePopulaire {
  width: 33%;
  height: 94%;
}
.ImagePopulaire img {
  width: 100%;
  height: 100%;
}
.TextePopulaire {
  width: 64%;
}
#LesPlusPopulaires a,
#HebergementsMarseille a {
  width: 30%;
}
#Activites {
  display: flex;
  flex-wrap: wrap;
}
#une,
#trois {
  width: 30%;
  margin-right: 5%;
}
#deux,
#quatre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}
#deux a,
#quatre a {
  width: 46%;
}
.ImgGrand img,
.ImgMoyenGrand img,
.ImgMoyen img,
.ImgPetit img {
  width: 100%;
  height: 150px;
}
figcaption {
  padding: 15px;
}
footer {
  margin-left: -2.5%;
  margin-right: -2.5%;
  padding-left: 5%;
}