/* CSS pour le site reservia pour les petites résolutions de 668px et moins */
body {
  max-width: 768px;
  width: 95%;
}
h1 {
  font-weight: bold;
  padding-top: 0px;
}
#inscription {
  order: 1;
}
#inscription a {
  padding-top: 21px;
  padding-right: 5px;
  font-weight: bolder;
  color: #0065fc;
}
#inscription a,
#inscription a:hover,
#inscription a.active {
  border: none;
}
.full {
  display: none;
}
nav {
  width: 100%;
  margin-top: 10px;
  order: 2;
}
nav ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
nav li {
  width: 50%;
}
nav a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  border-top: none;
  border-bottom: 2px solid #f2f2f2;
}
nav a:hover,
nav a.active {
  border-top: none;
  border-bottom: 2px solid #0065fc;
}
#boutonRechercher {
  border-radius: 20%;
  padding-left: 10px;
  padding-right: 10px;
}
/* on affiche l'icone recherche à la place du texte */
.mobile {
  display: inline;
}
#BoutonsDuFiltre {
  flex-direction: column;
  align-items: flex-start;
}
#localisationBox {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#rechercheVille {
  width: 75%;
}
.boutonFiltre {
  padding-bottom: 5px;
}
#info {
  display: flex;
  flex-direction: row;
}
#iconeInfo {
  margin-right: 10px;
}
#SectionDeux {
  flex-direction: column-reverse;
}
#SectionDeux h1 {
  margin-top: 40px;
}
#Hebergements {
  width: 100%;
  max-width: 100%;
  background-color: white;
}
.HebergMarseille {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
#HebergementsMarseille a {
  height: 200px;
}
#HebergementsMarseille {
  flex-direction: column;
}
.ImageHebergement img {
  height: 100px;
  width: 100%;
}
#afficher {
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
}
aside {
  width: 100%;
  margin: auto;
  border-radius: 0px;
  padding-bottom: 25px;
  padding-top: 10px;
}
#SectionDeux h3,
#graph i {
  margin-top: 0px;
  margin-left: 15px;
}
#graph {
  width: 95%;
  margin-bottom: 15px;
  margin-top: 15px;
}
#LesPlusPopulaires {
  height: 360px;
}
.HebergementPopulaire {
  width: 95%;
}
.ImagePopulaire img {
  height: 100px;
  width: 100px;
}
#Activites {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.ImgGrand,
.ImgMoyenGrand,
.ImgMoyen,
.ImgPetit {
  margin: 0px 0px 15px 0px;
}
.ImgGrand img,
.ImgMoyenGrand img,
.ImgMoyen img,
.ImgPetit img {
  height: 130px;
  width: 100%;
}
#SectionDeux h1,
#SectionTrois h1 {
  margin-left: 15px;
  margin-bottom: 20px;
}
.HebergementPopulaire:hover,
.HebergMarseille:hover,
.ImgGrand:hover,
.ImgMoyen:hover,
.ImgPetit:hover,
.ImgMoyenGrand:hover {
  transform: none;
}
footer {
  margin: 0px -10px 0px -10px;
}
#taillefooter {
  flex-direction: column;
}
.TexteFooter {
  width: 90%;
  margin: auto;
}
