/*Feuille de style globale pour le site reservia*/
body {
  width: 1140px;
  margin: auto;
  font-family: "Raleway", sans-serif;
  padding-right: 10px;
  padding-left: 10px;
}
/*par defaut pas de décoration pour les liens*/
a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 1.5em;
  font-weight: bolder;
  padding-top: 15px;
}
header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
#logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/*Masquage de l'icone rechercher destiné aux sites mobiles*/
#boutonRechercherPortable {
  display: none;
}
#logoImg {
  width: 100px;
  height: auto;
}
nav {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
nav ul {
  list-style-type: none;
  margin: 0%;
  display: flex;
}
nav li {
  display: flex;
}
nav a,
#inscription a {
  color: #0065fc;
  font-weight: bold;
  padding: 32px 15px 15px 15px;
  border-top: 2px solid white;
}
nav a:visited,
#inscription a {
  color: black;
}
nav a:hover,
nav a.active,
#inscription a:hover,
#inscription a.active {
  color: #0065fc;
  border-color: #0065fc;
}
#inscription {
  display: flex;
  align-items: flex-end;
}

/*style pour le champ rechercher*/
#localisationBox {
  display: flex;
}
#boutonLocalisation {
  background-color: #f2f2f2;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 7px;
}
#rechercheVille {
  border: 1px solid #f2f2f2;
  border-right: none;
  padding: 7px;
  outline: none;
}
#boutonRechercher {
  border: none;
  background-color: #0065fc;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
}
/*on cache le bouton loupe en pleine page */
.mobile {
  display: none;
}
/* fin bouton rechercher */
/* Style du bouton filtre */
#BoutonsDuFiltre {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
}
#containerBouton {
  display: flex;
  flex-wrap: wrap;
}
.boutonFiltre {
  margin-left: 15px;
  display: flex;
  position: relative;
}
.boutonFiltre :hover {
  background-color: #deebff;
  border-color: #deebff;
}
.iconeFiltre {
  padding: 8px;
  background-color: #deebff;
  border-radius: 50%;
  position: absolute;
  display: flex;
}
.iconeFiltre i {
  color: #0065fc;
  width: 18px;
  text-align: center;
}
.formeBouton {
  border: 2px solid #f2f2f2;
  display: flex;
  padding: 8px 7px 5px 40px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background-color: transparent;
  outline: none;
  font-weight: bold;
}
/* fin du bouton filtre */
#info {
  font-size: 0.8em;
}
#iconeInfo {
  padding: 5px 8px 5px 8px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  font-size: 0.7em;
}
#iconeInfo i {
  color: #0065fc;
  vertical-align: center;
}
/*-----------------------Début Section 2------------------------------------*/
/* Section concernant les hebergements */
#SectionDeux {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#SectionDeux h1 {
  margin-left: 27px;
}
#SectionDeux h3 {
  font-size: 1.5em;
  font-weight: bolder;
  padding-top: 15px;
  margin-bottom: 0px;
  margin-left: 27px;
}
#Hebergements {
  width: 65%;
  background-color: #f2f2f2;
  border-radius: 10px;
}
#HebergementsMarseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.HebergMarseille {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #e4e3e3;
}
.ImageHebergement {
  display: flex;
  margin: 4px;
}
.ImageHebergement img {
  object-fit: cover;
  height: 100px;
  width: 200px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.TexteHebergement {
  margin-left: 10px;
}
.TexteHebergement p,
.TextePopulaire p {
  margin: 5px 0px 0px 0px;
}
aside {
  width: 32%;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#graph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
#graph i {
  font-size: 1.5em;
  font-weight: bolder;
  padding-top: 15px;
  margin-bottom: 0px;
  margin-left: 27px;
  margin-top: 24px;
}
#LesPlusPopulaires {
  max-width: 100%;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.HebergementPopulaire {
  width: 90%;
  margin: auto;
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #e4e3e3;
}
.ImagePopulaire {
  display: flex;
  margin: 4px;
}
.ImagePopulaire img {
  object-fit: cover;
  height: 125px;
  width: 125px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.etoile {
  margin: 5px 0px 5px 0px;
  color: #0065fc;
}
i.grey {
  color: #f2f2f2;
}
#afficher {
  margin: 0px 0px 27px 27px;
  font-weight: bolder;
}
.TextePopulaire {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.TextePopulaire .etoile {
  margin-top: auto;
}
/*-----------------------Début Section 3------------------------------------*/
/* Section concernant les activités à Marseille */
#SectionTrois {
  width: 100%;
}
#Activites {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
figure {
  margin: 0px;
  border-radius: 20px;
}
figcaption {
  padding: 15px;
}
.ImgGrand {
  box-shadow: 3px 3px 3px 3px #e4e3e3;
}
.ImgMoyenGrand,
.ImgMoyen {
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px 3px #e4e3e3;
}
.ImgPetit {
  box-shadow: 3px 3px 3px 3px #e4e3e3;
}
.ImgGrand img {
  object-fit: cover;
  width: 255px;
  height: 317px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.ImgMoyenGrand img {
  object-fit: cover;
  width: 255px;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.ImgMoyen img {
  object-fit: cover;
  width: 255px;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.ImgPetit img {
  object-fit: cover;
  width: 255px;
  height: 90px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#parc img {
  padding-top: 20px;
}
.HebergementPopulaire:hover,
.HebergMarseille:hover,
.ImgGrand:hover,
.ImgMoyen:hover,
.ImgPetit:hover,
.ImgMoyenGrand:hover {
  transform: scale(1.08);
}
/*-------------------------Début Footer----------------------------------*/
footer {
  display: flex;
  margin-left: -50px;
  margin-right: -50px;
  background-color: #f2f2f2;
}
#taillefooter {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.TexteFooter {
  width: 33%;
}
h2 {
  font-size: 1.15em;
}
Footer ul {
  list-style-type: none;
  padding: 0px;
}
footer li {
  padding-bottom: 5px;
}
